.container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.backLink {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.backLink:hover {
  color: red;
}